<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.org.netrix.nfc_reader"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk 
        android:minSdkVersion="14" 
        android:targetSdkVersion="15" 
        />
    
    <uses-permission 
        android:name="android.permission.NFC"
        />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".Main"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/techlist"
                />
        </activity>

    </application>
 
</manifest>
